<% if property.is_a? Rahel::PropertyObjekt %>
  <% @info_text = property.objekt.safe_value "info_text" %>
<% end %>
<div class="property js-tooltip-anchor level<%= local_assigns[:level] %>" data-id="<%= property.id %>">
  <%= prefix if local_assigns[:prefix] %>
  <% if property.type == "Rahel::PropertyObjekt" %>
    <%# Sichtbarkeitsinfo der verbundenen PropertyObjekts nur für eingeloggte Benutzer anzeigen %>
    <% unless current_user.public? %>
      <%# wenn es sich beim PropertyObjekt um ein weak Individual handelt, dass genau mit dem
        property.subject und mit genau **einem** anderen *strong* Individual verbunden ist (bisher
        bei Curatorship und DigitalRepresentation der Fall) dann soll der Sichtbarkeitsstatus des anderen verbundenen
        Individuals angezeigt werden (und nicht der des weak Individuals selbst) %>
      <% if property.value.weak? %>
        <% if property.value.revision_receivers.size == 2 %>
          <%# finde verbundenes strong individual %>
          <% rcvr = property.value.revision_receivers.collect{|indi, predicate| indi}.select{|rcvr| rcvr != property.subject}.first %>
          <%= render "glass/inline/concessions", individual: rcvr %>
        <% end %>
      <% else %>
        <%= render "glass/inline/concessions", individual: property.value %>
      <% end %>
    <% end %>
    <% template = "glass/inline/#{property.value.class.name.underscore}" %>
    <% if lookup_context.template_exists?(template, [], true) %>
      <%= render(template, individual: property.value, subject: property.subject) %>
    <% else %>
      <span class="individual-label"><%= property.value.class_display %></span>
      <%= link_to(property.value.inline_label, controller: "individual", action: "show",
                  individual: property.value.class.name, id: property.value.id) %>
    <% end %>
  <% elsif property.type == "Rahel::PropertyBool" %>
    <%= property.value ? "Ja" : "Nein" %>
  <% elsif property.type == "Rahel::PropertyEmail" %>
    <%= mail_to(property.value, property.value, encode: "hex") %>
  <% elsif property.type == "Rahel::PropertyUrl" %>
    <a href="<%= property.value %>" target="extern"><%= property.value %>
    <span class="linker glyphicon glyphicon-new-window"
      data-toggle="tooltip" data-placement="top" data-title="Link in neuem Fenster öffnen"></span>
    </a>
  <% elsif property.type == "Rahel::PropertyText" %>
    <%# simple_format ersetzt \n mit <br> und \n\n mit <p> %>
    <%= simple_format property.value %>
  <% elsif property.options %>
    <%# Dies ist ein Property, wo die Auswahlmöglichkeiten im Datenmodell definiert sind
        (zum Beispiel male/female). %>
    <%= t property.value %>
  <% else %>
    <%= property.value.to_s %>
  <% end %>
  <%= suffix if local_assigns[:suffix] %>
  
  
  <% if @info_text.present? %>
    <%= render "glass/inline/info_helper", text: @info_text %>
  <% end %>
</div>
