<% hp = @glass.humanize(property.subject, property.predicate) %>
<% type = property.property_type %>
<% value = !property.value.nil? ? property.value : property.default_value %>
<%# id kann leer sein bei dummies %>
<div class="property <%= "expanded" if property.cardinality == 1 && !property.objekt? %>
            <%= "cardinality-one" if property.subject.cardinality_of(property.predicate) == 1 %>"
  data-id="<%= property.id %>"
  data-predicate="<%= property.predicate %>"
  data-individual-id="<%= property.subject_id %>"
  <%# data-objekt-id ist leer bei nicht-Objekt-Properties (brauchen wir für Range-Aktualisierung) %>
  data-objekt-id="<%= property.objekt_id %>">

  <div class="summary <%= "editable" if !property.objekt? || (property.objekt && property.objekt.weak?) %>"><%# Eigentlich: if in left column %>
    <%= local_assigns[:prefix] %>
    <span class="glyphicon glyphicon-pencil pull-right"></span>
    <span class="summary-span complain-if-empty force-wrap"><%= value.to_s %></span>
  </div>

  <button class="delete-property">
    <span class="glyphicon glyphicon-trash"></span>
  </button>

  <div class="details">
    <% if type == :objekt %>
      <% if value.weak? %>
        <%= @glass.edit_individual(value, subject: property.subject,
                                   locals: local_assigns) %>
      <% else %>
        <%# Dies ist nur provisorisch. TODO Mehr read-only-Info? %>
        <%= link_to value, "#{value.type}/#{value.id}" %>
      <% end %>
    <% else %>
      <form class="form-horizontal update-property <%= type %>-form
                   <%= "with-options" if property.options %>">
        <div class="form-group has-success has-feedback">
          <% if type == :text %>
            <textarea class="form-control" style="<%= local_assigns[:textarea_style] %>"
              placeholder="<%= hp %>"
              data-server-value="<%= value %>"><%= value %></textarea>
          <% elsif type == :bool %>
            <div class="checkbox">
              <label>
                <input type="checkbox"
                  data-server-value="<%= value %>"
                  <%= "checked" if value %>>
                <%= hp %>
              </label>
            </div>
          <% elsif type == :date %>
            <input class="form-control date"
              placeholder="<%= hp %>"
              data-server-value="<%= value.strftime("%-d.%-m.%Y") if value %>"
              value="<%= value.strftime("%-d.%-m.%Y") if value %>">
          <% elsif property.options %>
            <% selected = property.options.include? value %>
            <select class="form-control" data-server-value="<%= value %>">
              <option value="" <%= "selected" unless selected %>>Bitte auswählen...</option>
              <% property.options.sort_by { |x| t x }.each do |option| %>
                <% selected = option == value %>
                <option value="<%= option %>" <%= "selected" if selected %>><%= t option %></option>
              <% end %>
            </select>
          <% else %>
            <input class="form-control"
              placeholder="<%= hp %>"
              data-server-value="<%= value %>"
              value="<%= value %>"
              maxlength="<%= Rahel::PropertyString.validators_on(:data)[0].options[:maximum] %>">
          <% end %>
          <span class="glyphicon glyphicon-ok form-control-feedback"></span>
          <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
          <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
      </form>
    <% end %>
  </div>
</div>
