<% if local_assigns[:hierarchical] %>

  <div class="range">
    <% range_klass.hierarchy.each do |concept, level, broader, narrower| %>
      <% next unless current_user.can_view_individual?(concept) %>
      <button type="button"
              class="existing-individual js-range-filter-target level<%= level %><%= "js-tooltip" if concept.safe_value("info_text").present? %>"
              <%= "disabled" if objekt_ids.include?(concept.id) || !concept.is_a?(range_klass) %>
              data-filter-text="<%= concept.label %>
                                <%= (broader + narrower).map(&:label).join(" ") %>"
              data-type="<%= concept.type %>"
              data-objekt-id="<%= concept.id %>">
        <span class="glyphicon glyphicon-plus"></span>
        <%= concept.label %>
      </button>
      <% if concept.safe_value("info_text").present? %>
      <div class="tooltip-content" style="display:none;"><%= concept.safe_value("info_text") %></div>
      <% end %>
    <% end %>
  </div>

<% else %>

  <div class="range">
    <% candidates.each do |candidate| %>
      <% next unless current_user.can_view_individual?(candidate) %>
      <button type="button"
              class="existing-individual js-range-filter-target<%= " js-tooltip" if candidate.safe_value("info_text").present? %>"
              <%= "disabled" if objekt_ids.include?(candidate.id) %>
              data-filter-text="<%= candidate.inline_label %>"
              data-type="<%= candidate.type %>"
              data-objekt-id="<%= candidate.id %>">
        <span class="glyphicon glyphicon-plus"></span>
        <%= candidate.inline_label %>
      </button>
      <% if candidate.safe_value("info_text").present? %>
      <div class="tooltip-content" style="display:none;"><%= candidate.safe_value("info_text") %></div>
      <% end %>
    <% end %>
  </div>

<% end %>
